/* Corpo */
body {
	margin: 0px;
	padding: 0px;
	background-color: #FFFFFF;
	font-family: "Yanone Kaffeesatz", Helvetica, Tahoma, Arial, sans-serif;
	font-size: 18px;
	color: #333333;
	font-weight: normal;
}
.bold {
	font-weight: bold;
}

.form_tabela td
	{
		padding-bottom: 10px;
	}
.link {
	color: #000080;
	text-decoration: none;
}
.link:hover {
	color: #000000;
	text-decoration: underline;
}
/* Cores */
.grey {
	color: #606060;
}
.link {
	opacity: 0.6;
}
.link:hover {
	opacity: 1;
	transition: 1s;
}

.lt0 {
	font-size: 12px;
}
.lt1 {
	font-size: 15px;
}
a.lt1 {
	font-size: 15px;
	text-decoration: none;
	color: #000080;
}
.lt2 {
	font-size: 18px;
}
.lt3 {
	font-size: 22px;
}
.lt4 {
	font-size: 28px;
	font-family: "Yanone Kaffeesatz", Helvetica, Tahoma, Arial, sans-serif;
}
.lt5 {
	font-size: 34px;
	font-family: "Yanone Kaffeesatz", Helvetica, Tahoma, Arial, sans-serif;
}
.lt6 {
	font-size: 42px;
}
.lt7 {
	font-size: 50px;
}
.lt8 {
	font-size: 36px;
}
.lt9 {
	font-size: 46px;
}

.font1
	{
		font-family: "Yanone Kaffeesatz", "RobotoThin", Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
	}
.menu_item {
	border: 1px solid #000000;
	padding: 5px;
	margin-bottom: 20px;
}
/* Formulario */
#form_search {
	padding: 40px 0px 0px 0px;
	width: 100%;
	height: 100px;
}
.form_search_in {
	font-size: 14px;
	height: 40px;
	width: 400px;
}
.form_search_bt {
	font-size: 10px;
	height: 40px;
	padding: 5px 20px;
}
/* Photos - Fotografia */
#photo {
	border: 1px solid #333333;
	padding: 10px;
}
/* Shadown */
.shadown {
	box-shadow: 5px 5px 5px #888888;
}
/* Margins */
.m10r {
	margin-right: 10px;
}
.m10b {
	margin-bottom: 10px;
}
.bg_blue
	{
		background-color:#000080;
	}
.bg_blue_light
	{
		background-color:#8080FF;
		color: #ffffff;
	}	
/* Borders */
.border1 {
	border: 1px solid #cccccc;
}
.borderb1 {
	border-bottom: 1px solid #cccccc;
}
.radius10 {
	border-radius: 10px;
}
.box5
	{
		border: 1px solid #ececec;
		border-radius: 5px;
		padding: 5px 10px;	
		text-align: center;
	}
.left-float
	{
		float: left;
	}

#header_submit ul {
	padding: 0px;
	margin: 0px;
	background-color: #FFFFFF;
	list-style: none;
}
#header_submit ul li {
	display: inline;
}
#header_submit ul li a {
	padding: 0px 0px;
	padding-left: 10px;
	display: inline-block;
	/* visual do link */
	background-color: #8080FF;
	color: #ffffff;
	text-decoration: none;
	}
#header_submit ul li a:hover {
	padding: 0px 0px;
	padding-left: 10px;
	display: inline-block;
	/* visual do link */
	background-color: #0000FF;
	color: #ffffff;
	text-decoration: none;
	border-bottom: 3px solid #EDEDED;
}

